{% extends 'base.html' %}
#{% load bootstrap4 %}
<h1>Cadastro de usuário</h1>
{% block content %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_javascript jquery=True %}
        {% bootstrap_messages %}
        {% bootstrap_form_errors form layout='inline' %}
        {% bootstrap_form form layout='horizontal' %}
            {% buttons %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-warning">
                    <a href="{% url 'index' %}">Cancelar</a>
                </button>
            </div>
            {% endbuttons %}
    </form>
{% endblock %}